<div class="eachRoom" id="newLocationForm">
    <h3 class="addLoc text-uppercase">Add Location</h3>
    <img src="icons/add.png" class="btn newLocationBtn" />

    <img src="icons/add.png" class="btn closeNewLocation" />
    <input type="text" name="location" class="newLocationName"/>
    <img src="icons/check.png" class="btn addLocation" id="newLocationFormSubmit"/>
</div>